@charset "utf-8";

/*========== entire ========== */
.container { 
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 0 10px; 
    /* background-color: rgb(126, 126, 126); */
}

.semi-container{
    width: 1800px;
    padding: 0 10px; 
}

.wrapper {
    width: 100%;
}


/*========== header ========== */

header{
    background-image: url(../img/헤더/메인이미지/Untitled-2.png);
}
/* ldmode+snslist*/
.ldmode-snslist{
    margin-top: 15px;
    position: relative;
    background-color: blue;
}
/* ldmode */
.ldmode{
    
}


/* snslist */
.snslist {
    position: absolute;
    right: 0px;
    top: 0px;
}
.snslist>ul{
    display: flex;
    width: 7.640449438202247%;
    justify-content: space-between;
}

.snslist li{
}



.snslist ul>li>a>img{
    width: 24px;
    height: 24px;
}
/*========== main ========== */

/*========== footer ========== */