@charset "utf-8";

/*========== entire ========== */
.container { 
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 0 10px; 
    background-color: rgb(126, 126, 126);
}

.semi-container{
    width: 1800px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    background-color: aqua;
}

.wrapper {
    width: 100%;
}


/*========== header ========== */

header{
    
}
/* ldmode-snslist*/
.ldmode-snslist{
    position: relative;
    background-color: blue;
}
/* ldmode */
.ldmode{
    margin-top: 15px;

    
}


/* snslist */
.snslist {
    position: absolute;
    right: 0px;
    top: 0px;
}

.snslist>ul{
    display: flex;
    width: 7.640449438202247%;
    justify-content: space-between;
}

.snslist li{
}



.snslist ul img{
    width: 24px;
    height: 24px;
}

/*========== main ========== */

/*========== footer ========== */