@charset "utf-8";

/*========== entire ========== */

.container { 
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 0 10px; 
    /* background-color: rgb(126, 126, 126); */
}

.semi-container{
    width: 1800px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    background-color: aqua;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}



/*========== header ========== */
header {
    height: 1050px;
    width: 100%;
    background: url(../img/헤더/메인이미지/메인\(다크\).png) no-repeat;
    background-size: 100%;
}

/* mainlogo */
.mainlogo {
    text-align: center;    
}

/* ldmode-snslist*/
.ldmode-snslist{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* ldmode */
.ldmode{
    width: 170px; 
    height: 22px;
    display: flex;
    text-align: center;
    line-height: 22px;
}

.ldmode p{
    font-size: 12px;
}

.lightmode{
    width: 50%;
    border: #e7a335 1px solid;
}

.darkmode{
    width: 50%;
    background-color: #e7a335;;
    border: #e7a335 1px solid;
}

/* snslist */
.snslist {
    position: absolute;
    right: 0px;
    top: 0px;
}

.snslist>ul {
    display: flex;
    width: 9.78260869565217%;
    justify-content: space-between;
}

.snslist ul img{
    width: 24px;
    height: 24px;
}

/* search-login */
.search-login {
    position: absolute;
    top: 65px;
    display: flex;
    width: 1380px;
    justify-content: space-between;
}

/* search */
.search{
    position: relative;
    width: 14.49275362318841%;
    height: 35px;
}

.search input[type="text"]{
    width: 100%;
    height: 35px;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
    padding-left: 30px;
    outline: 0;
}

.search input::placeholder{
    font-family: '210 GureumGothic 030';
    color: white;
    font-size: 12px;
}

.search img:first-child{
    position: absolute;
    top: 10px;
}

.search img:last-child{
    position: absolute;
    top: 16.5px;
    right: 0;
    width: 25%;
    height: auto;
}

/* login */
.login{
    display: flex;
    justify-content: space-between;
    width: 7.246376811594203%;
    height: 35px
}

/* mainmenu */
.mainmenu{
    width: 100%;
    padding: 25px 0;
}

.menu-flex-box nav ul{
    display: flex;
    justify-content: space-between;
}

.menu-flex-box nav ul>li{
    font-size: 18px;
    border-right: 1px solid white;
    padding-right: 45px;
    text-align: center;
}

.menu-flex-box nav ul>li:last-child{
    border-right: none;
    padding-right: 0px;
}

.menu-flex-box nav ul>li>a:hover{
    background-color: #e7a335;
    border-radius: 2px;
}

/* intro */
@keyframes intro{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}

.intro{
    margin-top: 40px;
}

.intro h2{
    font-size: 28px;
    font-weight: normal;
}

.intro h2 .h2_strong{
    display: inline;
    font-size: 40px;
    color: #e7a335;
}

.intro p{
    padding-top: 30px;
    font-size: 20px;
    line-height: 40px;
}

.intro p span.orange:first-child{
    color: #e7a335;
    font-size: 32px;
    font-weight: 500;
}


.intro p .orange{
    color: #e7a335;
}

.intro .p_strong {
    margin-top: 20px;
    font-size: 40px;
    font-family: '210 GureumGothic 070';
    color: #e7a335;
    text-indent: 160px;
    font-weight: normal;
}

.intro p.members{
    margin-top: 20px;
    font-size: 24px;
    text-indent: 160px;
    text-align: right;
}

.intro .dial {
    font-size: 60px;
    color: #e7a335;
    font-weight: 600;
}

/* usualmenu */
.usualmenu{
    margin: 50px auto 0;
    width: 84.49275362318841%;
    text-align: center;
}
.usualflexmenu {
    display: flex;
    justify-content: space-between;
}

.usualflexmenu div a:hover{
    background-color: rgba(231,163,53,0.5);
    border-radius: 10px;
    font-size: 22px;
    color:white;
}

.usualflexmenu div p{
    color: #e7a335;
    font-size: 22px;
    margin-top: 10px;
}

.usualflexmenu div a:hover p{
    color:white;
}



/*========== main ========== */
img.mainstart{
    width: 100%;
    position: absolute;
}

/* donate-img */
.donationer{
    width: 100%;
    display: flex;
    position: relative;
    background-color: red;
}

.donate-img{
    position: absolute;
    top: 280px;
}

.donate-img img:first-child{
    position: absolute;
    opacity: 28%;
}

.donate-img img:nth-child(2){
    position: absolute;
    left: 1060px;
    top: -40px;
}


/*donate*/

.donate{
    margin-top: 150px;
}

.donate h2 .wait{
    font-size: 120px;
    color: orange;
}

.donate h3{
    display: inline;
    font-size: 48px;
    position: absolute;
    top: 100px;
    left: 300px;
    font-weight: 500;
}

.donate p {
    margin-top: 110px;
    font-size: 28px;
    line-height: 60px;
}

.donate .p_donate{
    display:inline-block;
    font-size: 48px;
    font-family: '210 GureumGothic 070';;
    color: #e7a335;
    line-height: 90px;
    font-weight: normal;
}

.donate .p_donate:last-child{
    text-indent: 400px;
}

.donate-button{
    margin-top: 20px;
    display: flex;
    width: 580px;
    height: 61px;
    justify-content: space-between;
    color: white;
}

.donate-button .godonate {
    width: 280px;
    background-color: #ff9e00;
    font-size: 32px;
    font-family: '210 GureumGothic 070';;
    border: 0;
}

.donate-button .goadopt {
    width: 280px;
    background-color: #7d7d7d;
    font-size: 32px;
    font-family: '210 GureumGothic 070';;
    border: 0;
}

.donate-button button:hover:first-child{
    background-color: #ff7300;
}

.donate-button button:hover:last-child{
    background-color: #5f5f5f;
}

/*semititle, semidescription*/
h2.semititle{
    font-size: 76px;
    line-height: 100px;
    font-weight: 500;
    text-align: center;
    color: #e7a335;
}

p.semidescription {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

/*challenges*/ 

.challenges{
    margin-top: 400px;
}

.challenges-flex{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.challenges-flex>section{
    text-align: center;
    width: 27.53623188405797%;
    height: 679px;
    background: url(../img/메인/역할/역할.png) no-repeat;
}

.challenges-flex>section>div{
    margin-top: 50px;

}

.challenges-flex>section img{
    width: 98.42105263157895%;
    height: auto;
    position: relative;
    background-color: #ff7300;
}

.challenges-flex>section h3{
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

.challenges-flex>section .work_textbox{
    margin-top: 90px;
    width: 374px;
    height: 240px;
    margin: 30px auto 0;
    padding: 20px 30px;
    text-align: justify;
    line-height: 30px;
    background-color: rgba(231,163,53,0.5);
}

.challenges-flex>section .work_textbox p{
    font-size: 18px;
    font-weight: 300;
}

/*nyanzone*/
.nyanzone{
    margin-top: 150px;
    background: url(../img/기타/메인2부분\(다크\).png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 3200px;
}

/*photozone*/
.photozone {
    padding-top: 600px;
    background: url(../img/메인/프레임/뉴스존\ 제목.png) no-repeat;
    background-position-x: center;
    background-position-y: 580px;
}

.photobox {
    position: relative;
    text-align: center;
    margin-top: 70px;
    width: 100%;
    height: 340px;
    background-color: rgba(63,63,63,0.72);
}

.photobox ul{
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    width: 85.50724637681159%;
    justify-content: space-between;
}

.pagemap{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    display: flex;
    width: 18.40579710144928%;
    justify-content: space-between;
}


.photoframe {
    width: 180px;
    height: 230px;
    background-color: #e7a335;
}

.photoframe .photoinfo {
    opacity: 0;
}

.photobutton{
    display: none;
}

/*newszone*/
.newszone {
    
    padding-top: 300px;
    background: url(../img/메인/프레임/뉴스존\ 제목.png) no-repeat;
    background-position-x: center;
    background-position-y: 280px;
    padding-bottom:600px;
}

.newsbighead {
    margin-top: 80px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 760px;
    background-color: rgba(63,63,63,0.72);
}

.newsflex {
    display: flex;
    justify-content: space-between;
    width: 85.50724637681159%;
    margin: 0 auto;
    padding-top: 45px;
}

.newsflex>div{
    position: relative;
    width: 32.20338983050847%;
    height: 640px;
    background-color: white;
    border: 1px solid #e7a335;
}

.newsflex .profilearea {
    display: flex;
    height:70px;
    line-height: 70px;
}

.newsflex .profilearea .newsprofile{
    padding: 10px 0px 10px 15px;
}

.newsflex .profilearea img {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, #ff5e00 0%,  #e7a335 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.newsflex .profilearea p {
    color: #3f3f3f;
    font-size: 18px;
    text-indent: 15px;
}


.newsflex .imagearea img{
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 0 10px 10px -10px #3f3f3f;
}

.newsflex .contentarea {
    text-align: justify;
    margin-top: 10px;
    padding: 15px;
    color: #7d7d7d;
}

.newsflex .contentarea h4 {
    font-weight: normal;
    font-family: '210 GureumGothic 070';
}

.newsflex .contentarea p {
    margin-top: 25px;
    line-height: 24px; 
}

.newsflex .informarea {
    padding: 5px 0px 10px;
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: #7d7d7d;
    border-top: 1px solid #7d7d7d;
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.newsflex .informarea time{
    margin-top: 5px;
    width: 80px;
    font-size: 18px;
}


.newsflex .informarea .newsindex{
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.newsflex .informarea .newsindex div{
    margin-top: 5px;
    text-align: right;
    width: 40px;
    display: flex;
    justify-content: space-between;
}


.newszone .pagemap{
    display: none;
}

.newszone .newsbutton{
    display: none;
}

/*community*/
.cagit {
    width: 100%;
    height: 1200px;
    background: url(../img/메인/커뮤니티/커뮤니티\ 배경.png) no-repeat;
    background-size: 100%;
}

.agit-flex-box {
    display: flex;
    width: 100%;
    justify-content: space-between;

}




/*========== footer ========== */